@-moz-document url-prefix() {
    /* Disable scrollbar Firefox */
    .flip-card-back {
        scrollbar-width: none;
    }
}

.flip-card-back::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox 64 */
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    font-size: 24px;
    background-color: #1c1c1e;
    color: #fff;
    transform: rotateY(180deg);
    /* overflow: hidden; */
    overflow: scroll;
    padding-top: 16px;
}

.title {
    margin-bottom: 12px;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}
