.member-container {
    margin: 10px 16px;
}

.introduction {
    display: flex;
    justify-content: space-around;
}

.introduction:nth-child(odd) {
    flex-direction: row-reverse;
}

.person {
    width: 121px;
    height: 150px;
    object-fit: cover;
}

.name-space {
    width: 138.1px;
    height: 100px;
    margin: auto 0;
    background: url('../image/name_container1.svg');
    background-size: contain;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
}
